.elements {
  max-width: 880px;
  padding: 0 calc((100% - 880px) / 2) 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px 17px;
}

@media screen and (max-width: 992px) {
  .elements {
    width: 581px;
    padding: 0 calc((100% - 581px) / 2) 0;
  }
}

@media screen and (max-width: 660px) {
  .elements {
    width: 88%;
    padding: 0 6% 0;
    justify-content: center;
  }
}
