.elements {
  max-width: 880px;
  padding: 0 calc((100% - 880px) / 2) 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "yosemite louise bald"
    "latemar vanoise braies";
  gap: 20px 17px;
}

@media screen and (max-width: 992px) {
  .elements {
    width: 88%;
    padding: 0 6% 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "yosemite louise"
      "bald latemar"
      "vanoise braies";
  }
}

@media screen and (max-width: 600px) {
  .elements {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "yosemite"
      "louise"
      "bald"
      "latemar"
      "vanoise"
      "braies";
  }
}

@media screen and (max-width: 320px) {
  .elements {
    padding-left: 0;
    padding-right: 0;
  }
}
