.edit-profile-modal-container {
  display: none;
  flex-direction: column;
  align-content: center;
  max-width: 430px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit-profile-modal-container_opened {
  display: flex;
}

.modal__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: black;
  margin: 0;
  padding: 34px 64px 0 36px;
}

.modal__form {
  padding: 36px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 660px) {
  .edit-profile-modal-container {
    max-width: 282px;
  }

  .modal__title {
    padding: 25px 22px 0;
    font-size: 18px;
  }

  .modal__form {
    padding: 75px 22px 25px;
  }
}
