.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1280px;
  background-color: black;
  margin: 0 auto 0;
  align-items: center;
}

.page__overlay {
  opacity: 0.5;
}
