/* MODAL */

.modal {
  position: fixed;
  display: flex;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  pointer-events: none;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.modal_type_profile {
  margin: 0;
}

.modal_type_card {
  margin: 0;
}

.modal_type_image {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal_type_verify {
  margin: 0;
}

.modal_type_profile-image {
  margin: 0;
}

/* MODAL CONTAINER */

.modal__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.modal__container_type_profile {
  margin: auto;
  max-width: 430px;
  width: 100%;
}

.modal__container_type_card {
  margin: auto;
  max-width: 430px;
  width: 100%;
}

.modal__container_type_image {
  margin: auto;
  background-color: transparent;
  border-radius: 0px;
}

.modal__container_type_verify {
  margin: auto;
  max-width: 430px;
  width: 100%;
  height: 181px;
}

.modal__container_type_profile-image {
  margin: auto;
  max-width: 430px;
  width: 100%;
}

/* MODAL CLOSE-BUTTON */

.modal__close-button {
  background-image: url("../images/close_icon.svg");
  background-color: transparent;
  background-size: contain;
  border: none;
  padding: 0;
  position: absolute;
  width: 28px;
  height: 28px;
  top: -30px;
  right: -30px;
  transition: opacity 0.15s linear;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__close-button_type_profile {
  margin: 0;
}

.modal__close-butotn_type_card {
  margin: 0;
}

.modal__close-button_type_image {
  margin: 0;
  top: -34px;
  right: -34px;
}

.modal__close-button_type_verify {
  margin: 0;
}

/* MODAL TITLE */

.modal__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: black;
  padding: 34px 64px 0 36px;
}

.modal__title_type_profile {
  margin: 0;
}

.modal__title_type_card {
  margin: 0;
}

.modal__title_type_image {
  margin: 0;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  padding: 10px 0 0 0;
}

.modal__title_type_verify {
  margin: 0;
  padding-bottom: 38px;
}

/* MODAL FORM */

.modal__form {
  padding: 36px;
  display: flex;
  flex-direction: column;
}

.modal__form_type_profile {
  margin: 0;
}

.modal__form_type_card {
  margin: 0;
}

/* MODAL IMAGE */

.modal__image {
  display: block;
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
}

/* MODAL SUBMIT-BUTTON */

.modal__submit-button {
  max-width: 358px;
  height: 50px;
  margin-left: 36px;
  color: white;
  background-color: black;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  transition: opacity 0.15s linear;
  width: 100%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

/* media screen at 660px */
@media screen and (max-width: 660px) {
  /* MODAL CONTAINER */

  .modal__container {
    max-width: 282px;
  }

  .modal__container_type_image {
    max-width: 75vw;
    max-height: 75vh;
  }

  .modal__container_type_verify {
    height: 155px;
  }

  /* MODAL CLOSE-BUTTON */

  .modal__close-button {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 9px;
  }

  .modal__close-button_type_image {
    width: 22px;
    height: 22px;
    top: -26px;
    right: -26px;
  }

  /* MODAL TITLE */

  .modal__title {
    padding: 25px 22px 0;
    font-size: 18px;
  }

  .modal__title_type_image {
    font-size: 12px;
    padding: 10px 0 0 0;
  }

  .modal__title_type_verify {
    padding-bottom: 30px;
    font-size: 18px;
  }

  /* MODAL FORM */

  .modal__form {
    padding: 45px 22px 25px;
  }

  /* MODAL SUBMIT-BUTTON */

  .modal__submit-button {
    max-width: 238px;
    height: 50px;
    margin-left: 22px;
    font-size: 14px;
  }
}
